/*custom CSS*/

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h5, h6 {
	font-weight: 700 !important;
}

.header {
	border-bottom: solid 2px #ffd500;
	letter-spacing: 1px;
	margin: 1em 0 .5em 0;
}

.logo {
	height: 15px;
}

a {
  text-decoration: none;
  color: #990000 !important;
  padding: 3px;
}

a:hover {
  background-color: #ffd500;
  color: #fff !important;
  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  transition: ease .2s;
}

h3.number {
  margin-top: 1em;
}

div.footer {
  background: #222;
  border-top: 2px solid #ffd500;
  color: #fff;
  padding-top: 1em;
  margin-top: 1em;
  padding-bottom: 3em;
}
.footer p {
  font-size: .8em;
  margin: 0;
}